@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(74, 72, 38);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;

}

.inactive {
    display: none !important; 
}
.placeHolder-green-color::placeholder{
     color: rgb(4, 255, 33) !important;
}

input{
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.mainContainerClass {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45%;
    height: 90vh;
    background-color: rgb(9, 9, 254);
    padding:10px 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
}

.ToDo-list-text {
    font-size: 2rem;
    text-align: center;
    padding-bottom:5px;
    color: #fff;
}

.searchBox{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.input1{
    width: 100%;
    height: 50px;
    font-size: 1.8rem;
    background-color: transparent;
    border-bottom: 3px solid rgb(255, 255, 255);;
    /* color: black; */
    text-transform: capitalize;
    padding-left: 5px;
    color: #fff;
}
.input1::placeholder{
    color: #fff;
}
.searBoxBtnClass{
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid #fff;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}
.searBoxBtnClass:hover{
    background-color: #fff;
    color: blue;
}

.head2{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.tasksTextNode em {
    margin-top: 50px;
    opacity: 0.8;
    font-family: 'gilroy';
    color: #fff;
}
.clearAllBtn {
    font-size: 1.5rem;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
}
.clearAllBtn:hover{
    background-color: #fff;
    color: blue;
}


.taskBox{
    margin-top: 20px;
    position: relative;
    height: 100%;
    overflow: auto;
    padding:0 20px;
}
.taskBox::-webkit-scrollbar{
    width: 10px;
}
.taskBox::-webkit-scrollbar-track{
    background-color: blue;
}
.taskBox::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding:10px;
    object-fit: contain;
}
.workListBox{
    position: relative;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: blue;
}
.taksName{
    color: blue;
    width: 100%;
}

.boxBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.boxBtns button {
    font-size: 1.4rem;
    font-weight: 700;
}

.editBtn {
    color: blue;
}

.delBtn{
    color: rgb(255, 21, 68);
    position: relative;
    width: 100%;
}


.pop-up-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding:20px 30px;
    background-color: rgb(115, 118, 115);
    color: white;
    border-radius: 10px;
    font-size: 2.5vh;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
}
.pop-up-box h2{
    display: inline;
    color: purple;
}
.pop-up-btns {
    width: 100%;
    display: flex;  justify-content: space-between;  align-items: center;
    margin-top: 30px;
}
.pop-up-box button {
    color: white;
    font-size: 1.5vw;
    border: 2px solid #fff;
    padding: 5px 30px;
    border-radius: 5px;
}
.pop-up-box button:hover{
    background-color: white;
    color: blue;
}





@media (min-width : 0px) and (max-width : 768px) {
    .mainContainerClass{
        width: 80%;
    }
}

.class_For_No_Data_Found {
    border: 2px solid #fff;
    padding:10px 20px;
    color: #fff;
    text-align: center;
    margin-top: 40%;
}
